{% block sidebar %}

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"
     style="width: 280px;">
    <a href="{% url 'home:home' %}"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">ИС Расписание</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'group_list' or request.resolver_match.url_name == 'group_add' or request.resolver_match.url_name == 'group_edit' %}active{% else %}text-white{% endif %}"
               href="{% url 'groups:group_list' %}">
                <i class="fa-solid fa-people-roof"></i>
                Управление группами
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'teacher_list' or request.resolver_match.url_name == 'teacher_add' or request.resolver_match.url_name == 'teacher_edit' %}active{% else %}text-white{% endif %}"
               href="{% url 'teachers:teacher_list' %}">
                <i class="fa-solid fa-chalkboard-teacher"></i>
                Управление сотрудниками
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'date_selection' or request.resolver_match.url_name == 'assign_teachers' or request.resolver_match.url_name == 'schedule_success' %}active{% else %}text-white{% endif %}"
               href="{% url 'schedule:date_selection' %}">
                <i class="fa-solid fa-mug-hot"></i>
                Составление расписания
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'group_schedule' %}active{% else %}text-white{% endif %}"
               href="{% url 'schedule:group_schedule' %}">
                <i class="fa-solid fa-calendar-days"></i>
                Расписание групп
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'teacher_schedule' %}active{% else %}text-white{% endif %}"
               href="{% url 'schedule:teacher_schedule' %}">
                <i class="fa-solid fa-calendar-days"></i>
                Расписание сотрудников
            </a>
        </li>
    </ul>


    <hr>
    {% if user.is_authenticated %}
    <div class="dropdown">
        <a href="#"
           class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
           id="dropdownUser1" data-bs-toggle="dropdown"
           aria-expanded="false">
            <img src="https://github.com/m4tveevm.png" alt="" width="32"
                 height="32" class="rounded-circle me-2">
            <strong>{{ user.get_username }}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow"
            aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
    {% endif %}
</div>
{% endblock %}