{% extends 'base.html' %}

{% block content %}
<h1>Настройка количества занятий</h1>
<form method="post">
    {% csrf_token %}
    {{ formset.management_form }}
    <table class="table">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Количество занятий</th>
            </tr>
        </thead>
        <tbody>
            {% for form in formset %}
            <tr>
                <td>
                    {{ form.instance.date }}
                    {{ form.id }}
                    {{ form.date }}
                </td>
                <td>
                    {{ form.number_of_lectures }}
                    {% if form.number_of_lectures.errors %}
                        <div class="text-danger">
                            {{ form.number_of_lectures.errors }}
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Далее</button>
</form>
{% endblock %}
