{% extends 'base.html' %}

{% block content %}
<h1>Выбор групп и дат</h1>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Далее</button>
</form>


<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


<script>
    flatpickr("#date-picker", {
        mode: "multiple",
        dateFormat: "Y-m-d",
        locale: "ru",
    });
</script>
{% endblock %}
