{% extends 'base.html' %}

{% block content %}
<h1>Расписание для группы {{ group.name }}</h1>


<form method="get" action="{% url 'group_schedule' %}">
    <label for="group_select">Выберите группу:</label>
    <select name="group_id" id="group_select" onchange="this.form.submit()">
        {% for g in all_groups %}
            <option value="{{ g.id }}" {% if g.id == group.id %}selected{% endif %}>{{ g.name }}</option>
        {% endfor %}
    </select>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Бригада</th>
            <th>Преподаватель</th>
        </tr>
    </thead>
    <tbody>
        {% for lecture in lectures %}
        <tr>
            <td>{{ lecture.schedule_date.date|date:"d.m.Y" }}</td>
            <td>{{ lecture.get_start_time }} - {{ lecture.get_end_time }}</td>
            <td>{{ lecture.brigade_number }}</td>
            <td>{{ lecture.teacher.name }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Нет запланированных занятий.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
