{% extends 'base.html' %}

{% block content %}
<h1>{% if form.instance.pk %}Редактировать{% else %}Добавить{% endif %} запись
    расписания</h1>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {% if field.help_text %}
        <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
        <div class="invalid-feedback d-block">
            {{ error }}
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock %}
