<!DOCTYPE html>
<html>
<head>
    <title>Расписание</title>
</head>
<body>
    <h1>Расписание</h1>
    <table border="1">
        <tr>
            <th>День</th>
            <th>Время</th>
            <th>Группа</th>
            <th>Предмет</th>
            <th>Преподаватель</th>
            <th>Аудитория</th>
        </tr>
        {% for entry in schedule_entries %}
        <tr>
            <td>{{ entry.timeslot.get_day_display }}</td>
            <td>{{ entry.timeslot.start_time }} - {{ entry.timeslot.end_time }}</td>
            <td>{{ entry.group.name }}</td>
            <td>{{ entry.subject.name }}</td>
            <td>{{ entry.subject.teacher.name }}</td>
            <td>{{ entry.classroom.name }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
