{% extends 'base.html' %}

{% block content %}
<h1>Расписание преподавателя {{ teacher.name }}</h1>

<!-- Форма для выбора преподавателя -->
<form method="get" action="{% url 'teacher_schedule' %}">
    <label for="teacher_select">Выберите преподавателя:</label>
    <select name="teacher_id" id="teacher_select" onchange="this.form.submit()">
        {% for t in all_teachers %}
            <option value="{{ t.id }}" {% if t.id == teacher.id %}selected{% endif %}>{{ t.name }}</option>
        {% endfor %}
    </select>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>Группа</th>
            <th>Бригада</th>
        </tr>
    </thead>
    <tbody>
        {% for lecture in lectures %}
        <tr>
            <td>{{ lecture.schedule_date.date|date:"d.m.Y" }}</td>
            <td>{{ lecture.get_start_time }} - {{ lecture.get_end_time }}</td>
            <td>{{ lecture.group.name }}</td>
            <td>{{ lecture.brigade_number }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Нет запланированных занятий.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
